{{define "templates/layouts/staff/footer/staffdash-footer"}}
</div>
    
<!-- Internal Data tables -->
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/dataTables.dataTables.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/dataTables.responsive.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/responsive.dataTables.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/jquery.dataTables.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/dataTables.bootstrap4.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/buttons.bootstrap4.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/jszip.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/pdfmake.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/vfs_fonts.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/buttons.colVis.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/dataTables.responsive.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/responsive.bootstrap4.min.js"></script>

    <script src="/assets/valex/HTML/html/assets/js/table-data.js"></script>

<!-- JQuery min js -->
<script src="/assets/valex/HTML/html/assets/plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap Bundle js -->
<script src="/assets/valex/HTML/html/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<!--Internal  Chart.bundle js -->
<script src="/assets/valex/HTML/html/assets/plugins/chart.js/Chart.bundle.min.js"></script>

<!-- Ionicons js -->
<script src="/assets/valex/HTML/html/assets/plugins/ionicons/ionicons.js"></script>

<!-- Moment js -->
<script src="/assets/valex/HTML/html/assets/plugins/moment/moment.js"></script>

<!--Internal Sparkline js -->
<script src="/assets/valex/HTML/html/assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

<!-- Moment js -->
<script src="/assets/valex/HTML/html/assets/plugins/raphael/raphael.min.js"></script>

<!--Internal Apexchart js-->
<script src="/assets/valex/HTML/html/assets/js/apexcharts.js"></script>

<!-- Rating js-->
<script src="/assets/valex/HTML/html/assets/plugins/rating/jquery.rating-stars.js"></script>
<script src="/assets/valex/HTML/html/assets/plugins/rating/jquery.barrating.js"></script>

<!--Internal  Perfect-scrollbar js -->
<script src="/assets/valex/HTML/html/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/assets/valex/HTML/html/assets/plugins/perfect-scrollbar/p-scroll.js"></script>

<!-- Eva-icons js -->
<script src="/assets/valex/HTML/html/assets/js/eva-icons.min.js"></script>

<!-- right-sidebar js -->
<script src="/assets/valex/HTML/html/assets/plugins/sidebar/sidebar.js"></script>
<script src="/assets/valex/HTML/html/assets/plugins/sidebar/sidebar-custom.js"></script>

<!-- Sticky js -->
<script src="/assets/valex/HTML/html/assets/js/sticky.js"></script>
<script src="/assets/valex/HTML/html/assets/js/modal-popup.js"></script>

<!-- Left-menu js-->
<script src="/assets/valex/HTML/html/assets/plugins/side-menu/sidemenu1.js"></script>

<!-- Internal Map -->
<script src="/assets/valex/HTML/html/assets/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="/assets/valex/HTML/html/assets/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>

<!--Internal  index js -->
<script src="/assets/valex/HTML/html/assets/js/index.js"></script>

<!-- Apexchart js-->
<script src="/assets/valex/HTML/html/assets/js/apexcharts.js"></script>

<!-- custom js -->
<script src="/assets/valex/HTML/html/assets/js/custom.js"></script>

<script src="/assets/valex/HTML/html/assets/js/jquery.vmap.sampledata.js"></script>

</body>
</html>
{{end}}