

{{define "pengumuman"}}
{{template "templates/layouts/admin/header/admindash-headerTugas" .}}
{{template "templates/layouts/admin/navDashA" .}}

    <!-- container -->
    <div class="container-fluid">

        <!-- breadcrumb -->
        <div class="breadcrumb-header justify-content-between">
            <div class="left-content">
                <div>
                  <h2 class="main-content-title tx-34 mg-b-1 mg-b-lg-1">Halaman List Pengumuman</h2>
                  <p class="tx-20 mg-b-0">Kamu bisa melihat daftar pengumuman ^^</p>
                </div>
            </div>
        </div>
        <!-- /breadcrumb -->


        <!-- row opened -->
        <div class="row row-sm">
            <!--div-->
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="card mg-b-20">
                    <div class="card-header pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title mg-b-0">List Pengumuman</h4>
                        </div>
                        <p class="tx-12 tx-gray-500 mb-2">Berikut ini adalah daftar pengumuman saat ini</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="table key-buttons text-md-nowrap">
                                <thead>
                                    <tr>
                                        <th class="wd-lg-10p border-bottom-0">Tanggal</th>
                                        <th class="wd-lg-10p border-bottom-0">Judul</th>
                                        <th class="wd-lg-15p border-bottom-0 tx-left">Isi</th>
                                        <th class="wd-lg-15p border-bottom-0 tx-left">Divisi</th>
                                        <th class="wd-lg-15p border-bottom-0 tx-left">Pembuat</th>
                                        <th class="wd-lg-15p border-bottom-0 tx-left">Status</th>
                                        <th class="wd-lg-4p border-bottom-0 tx-left">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{range .pengumumans}}
                                    <tr>
                                        <td class="align-middle">{{.Date}}</td>
                                        <td class="align-middle">{{.Judul}}</td>
                                        <td class="tx-left tx-medium tx-inverse align-middle">{{.Isi}}</td>
                                        <td class="tx-left tx-medium tx-inverse align-middle">{{.Divisi}}</td>
                                        <td class="tx-left tx-medium tx-inverse align-middle">{{.Name}}</td>
                                        {{if eq .Status 1}}
                                            <td class="tx-left tx-medium tx-primary align-middle">Active</td>
                                        {{else if eq .Status 2}}
                                            <td class="tx-left tx-medium tx-danger align-middle">Inactive</td>
                                        {{end}}
                                        <td>
                                            <a class="modal-effect btn btn-md btn-warning btn-block btn-middle" data-effect="effect-slide-in-right" data-toggle="modal" href="#pengedit{{.Id}}">Edit</a>
                                            {{if eq .Status 2}}
                                            <a class="btn btn-md btn-primary btn-block btn-middle" href="/dashboard/admin/pengumuman/active?id={{.Id}}">Active</a>
                                            {{else if eq .Status 1}}
                                            <a class="btn btn-md btn-danger btn-block btn-middle" href="/dashboard/admin/pengumuman/inactive?id={{.Id}}">Inactive</a>
                                            {{end}}
                                            <a class="btn btn-md btn-danger btn-block btn-middle" href="/dashboard/admin/pengumuman/delete?id={{.Id}}" onclick="return confirm('Yakin untuk menghapus ?');">Delete</a>
                                        </td>
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-6">
                                
                            </div>

                            <div class="col-md-6">
                                <div>
                                    <a class="user-c-laporan modal-effect"  data-effect="effect-slide-in-right" data-toggle="modal" href="#tambahpengumuman"><button class="btn btn-primary btn-block align-middle">Tambah Pengumuman</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/div-->

        </div>
        <!-- row closed -->


        <!-- Modal effects -->
			<div class="modal" id="tambahpengumuman">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content modal-content-demo">
                        <form action="/dashboard/admin/pengumuman/create" method="POST" class="form-horizontal" >
                            <div class="modal-header">
                                <h6 class="modal-title">Tambah Pengumuman</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                    <input type="hidden" class="form-control" id="user_id" name="user_id" value="{{.userId}}">
                                    <input type="hidden" class="form-control" id="name" name="name" value="{{.user_Name}}">
                                    <div class="form-group">
                                        <label for="judul">Judul Pengumuman</label>
                                        <input type="text" class="form-control" id="judul" name="judul" placeholder="Judul">
                                    </div>
                                    <div class="form-group">
                                        <label for="isi">Isi Pengumuman</label>
                                        <input type="text" class="form-control" id="isi" name="isi" placeholder="Isi">
                                    </div>
                                    <div class="form-group">
                                        <label for="divisi">Divisi</label>
                                        <select class="form-control select2-no-search" id="divisi" name="divisi">
                                            <option label="Pilih Divisi">
                                            </option>
                                            <option value="General">General</option>
                                            <option value="Web Apps">Web Apps</option>
                                            <option value="Mobile Apps">Mobile Apps</option>
                                            <option value="SysAdmin">SysAdmin</option>
                                            <option value="Cloud & Big Data">Cloud & Big Data</option>
                                        </select>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn ripple btn-primary" type="submit">Tambah</button>
                                <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Close</button>
                            </div>
                        </form>
					</div>
				</div>
			</div>
			<!-- End Modal effects-->


        {{range .pengumumans}}
        <!-- Modal effects -->
			<div class="modal" id="pengedit{{.Id}}">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content modal-content-demo">
                        <form action="/dashboard/admin/pengumuman/update" method="POST" class="form-horizontal" >
                            <div class="modal-header">
                                <h6 class="modal-title">Edit Pengumuman</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" class="form-control" id="peng_id" name="peng_id" value="{{.Id}}">
                                    <div class="form-group">
                                        <label for="judul">Judul Pengumuman</label>
                                        <input type="text" class="form-control" id="judul" name="judul" value="{{.Judul}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="isi">Isi Pengumuman</label>
                                        <input type="text" class="form-control" id="isi" name="isi" value="{{.Isi}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="divisi">Divisi</label>
                                        <select class="form-control select2-no-search" id="divisi" name="divisi">
                                            <option value="{{.Divisi}}">
                                                {{.Divisi}}
                                            </option>
                                            <option value="General">General</option>
                                            <option value="Web Apps">Web Apps</option>
                                            <option value="Mobile Apps">Mobile Apps</option>
                                            <option value="SysAdmin">SysAdmin</option>
                                            <option value="Cloud & Big Data">Cloud & Big Data</option>
                                        </select>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn ripple btn-primary" type="submit">Save</button>
                                <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Close</button>
                            </div>
                        </form>
					</div>
				</div>
			</div>
			<!-- End Modal effects-->
            {{end}}

       
    </div>
    <!-- /Container -->
</div>
<!-- /main-content -->
{{template "templates/layouts/admin/footer/admindash-footerTugas"}}
{{end}}

