body {
    font-family: 'Poppins', sans-serif;
}

.presublay {
    background-color: #FF8296;
    padding: 2% 5% 3% 5%;
}

.precon {
    background-color: #e0e0e0;
    padding: 3% 3% 3% 3%;
    border: 5px solid #FF8296;
    border-radius: 32px;
    transition: 0.5s;
}

.precon:hover {
    box-shadow: 2px 2px 10px gray;
    transition: 0.5s;
}