{{define "login"}}
{{template "templates/layouts/auth/header/auth-header"}}

<div class="container-fluid mainlay">
    <div class="row mainrow">
        <div class="col-md-12 maincol">
            <div class="authlay">
                <div class="authform">
                    <div class="formhead">
                        <h3>DASHBOARD TUGAS HARIAN<br>SISWA PRAKERIN PT BIT</h3>
                        <hr style="color: black">
                        <h5>Login</h5>
                        <hr style="color: black">
                        {{if eq .errM "0"}}
                        <h5 class="btn btn-block btn-danger">Oops, Email atau Password mu salah !</h1>
                        {{else if eq .errM "1"}}
                        <h5 class="btn btn-block btn-danger">Akun tidak ditemukan !</h1>
                        {{end}}
                    </div>
                    <form action="/login/process" method="post">
                        <div class="form-outline">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label text-white">Email</label>
                                <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label text-white">Password</label>
                                <input type="password" class="form-control" name="password" id="exampleInputPassword1" required>
                            </div>
                            <div class="mb-3 mauregis">
                                <p><a href="/register">Belum punya akun? klik ini</a></p>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-block btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{template "templates/layouts/auth/footer/auth-footer"}}
{{end}}