{{define "templates/layouts/siswa/footer/siswadash-footerTugas"}}

<!-- Footer opened -->
<div class="main-footer ht-40">
    <div class="container-fluid pd-t-0-f ht-100p">
        <span>Copyright © 2022 <a href="#">BIT</a>. Designed by <a href="https://www.spruko.com/">Raihan</a> All rights reserved.</span>
    </div>
</div>
<!-- Footer closed -->

</div>
    
<!-- JQuery min js -->
    <script src="/assets/valex/HTML/html/assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Bundle js -->
    <script src="/assets/valex/HTML/html/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Ionicons js -->
    <script src="/assets/valex/HTML/html/assets/plugins/ionicons/ionicons.js"></script>

    <!-- Moment js -->
    <script src="/assets/valex/HTML/html/assets/plugins/moment/moment.js"></script>

    <!-- P-scroll js -->
    <script src="/assets/valex/HTML/html/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/perfect-scrollbar/p-scroll.js"></script>

    <!-- Internal Data tables -->
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/dataTables.dataTables.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/dataTables.responsive.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/responsive.dataTables.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/jquery.dataTables.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/dataTables.bootstrap4.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/buttons.bootstrap4.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/jszip.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/pdfmake.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/vfs_fonts.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/buttons.colVis.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/dataTables.responsive.min.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/datatable/js/responsive.bootstrap4.min.js"></script>

    <!--Internal  Datatable js -->
    <script src="/assets/valex/HTML/html/assets/js/table-data.js"></script>

    <!-- Rating js-->
    <script src="/assets/valex/HTML/html/assets/plugins/rating/jquery.rating-stars.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/rating/jquery.barrating.js"></script>

    <!-- Sidebar js -->
    <script src="/assets/valex/HTML/html/assets/plugins/side-menu/sidemenu1.js"></script>

    <!-- Right-sidebar js -->
    <script src="/assets/valex/HTML/html/assets/plugins/sidebar/sidebar.js"></script>
    <script src="/assets/valex/HTML/html/assets/plugins/sidebar/sidebar-custom.js"></script>

    <!-- Sticky js -->
    <script src="/assets/valex/HTML/html/assets/js/sticky.js"></script>

    <!-- eva-icons js -->
    <script src="/assets/valex/HTML/html/assets/js/eva-icons.min.js"></script>

    <!-- custom js -->
    <script src="/assets/valex/HTML/html/assets/js/custom.js"></script>

    <!-- Internal Modal js-->
    <script src="/assets/valex/HTML/html/assets/js/modal.js"></script>

    <!-- Internal form-elements js -->
	<script src="/assets/valex/HTML/html/assets/js/form-elements.js"></script>

    <!-- Internal Select2.min js -->
	<script src="/assets/valex/HTML/html/assets/plugins/select2/js/select2.min.js"></script>

    <!--Internal  pickerjs js -->
	<script src="/assets/valex/HTML/html/assets/plugins/pickerjs/picker.min.js"></script>

    <!-- CKEDITOR -->
    <script src="https://cdn.ckeditor.com/ckeditor5/31.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
    

</body>
</html>

{{end}}